<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <events>
            <event name="publish:itemProcessing" help="Receives an argument of type ItemProcessingEventArgs (namespace: Sitecore.Publishing.Pipelines.PublishItem)">
                <handler type="ECCHackaton24.Feature.ImageFinder.ProcessingEvents.ProcessingEventHelper, ECCHackaton24.Feature.ImageFinder" method="UpdateImageInfo"/>
            </event>
        </events>

        <settings>
            <setting name="Emsi.LoginEndpoint" value="https://auth.emsicloud.com/connect/token" />
            <setting name="Emsi.Endpoint" value="https://cc.emsiservices.com" />
        </settings>

    </sitecore>



</configuration>
